.view-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
}

.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    height: 60px;
    padding: 0 var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-bg);
    box-shadow: var(--shadow);
    z-index: 10;
}

main {
    flex: 1;
    overflow-y: auto;
    position: relative;
}